
/* selector Universal*/

*{
    margin: 0 10px 10px 10px;

}

body{ 
    background-color: rgba(228, 228, 220, 0.658);
}

h1{
    color: rgb(5, 5, 5);
    text-align: center;
    text-decoration: underline;/* delinea nuestros parrafos */
    max-height: 50px;
}

.p1{
    color: rgb(25, 34, 28);
    font-size: 20px;
    text-align: justify;/* ayuda a ordenar nuestro texto*/
    font-family: 'Courier New', Courier, monospace;
}

h2{
    /*espacio a las caracteristicas*/
    letter-spacing: 8px;
    /*espacio entre letras*/
    /*word-spacing: uppercase;*/
    text-transform: uppercase;
    text-decoration: overline;
    text-shadow: 4px 2px gold
}
.p2{
    color: rgb(69, 8, 235);
    text-align: justify;
    direction: rtl;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Water Brush', cursive;

}

